<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <th:block th:replace="partials/header :: my-header('Posts')">
    </th:block>
</header>

<body>
<div th:replace="partials/navbar :: my-navbar"></div>


<h2>Create a new Post!</h2>
<form th:action="@{/post/create}" th:method="POST" th:object="${post}">
    <h3>Title</h3>
    <input  th:field="*{title}" />
    <h3>Description</h3>
    <input th:field="*{body}" />
    <br />
    <button>Submit New Post</button>
</form>


<script src="//static.filestackapi.com/filestack-js/3.x.x/filestack.min.js"></script>

</body>
</html>


