<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<header>
    <th:block th:replace="partials/header :: my-header('Posts')">
    </th:block>
</header>
<body>
<div th:replace="partials/navbar :: my-navbar"></div>



<form th:action ="@{'/post/'+ ${post.id} +'/edit'}" th:method="POST" th:object="${post}">
    <input type="text"  th:field="*{title}" />
    <input type="text"  th:field="*{body}" />
    <input type="hidden" th:field="*{owner.id}" />
    <button>Edit</button>
</form>




</body>
</html>